#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}
# install-linux.sh hash: {{ include "scripts/install-linux.sh" | sha256sum }}
{{ else if eq .chezmoi.os "darwin" -}}
# install-macos.sh hash: {{ include "scripts/install-macos.sh" | sha256sum }}
{{ end -}}
set -e

DOTFILES="{{ .chezmoi.sourceDir }}"

{{ if eq .chezmoi.os "linux" -}}
. "$DOTFILES/scripts/install-linux.sh"
{{ else if eq .chezmoi.os "darwin" -}}
. "$DOTFILES/scripts/install-macos.sh"
{{ end -}}
